%h6
  Campaign:
  =link_to @campaign.name, campaign_path(@campaign)
%h1 Edit Message

%fieldset
  =form_for([@campaign, @message], method: :patch) do |f|
    - if @message.errors.any?
      #errors
        %h2
          =pluralize(@message.errors.count, "error")
          prohibited this message from being created:
        %ul
          - @message.errors.full_messages.each do |message|
            %li=message

    %p
      =f.label :subject
      =f.text_field :subject
    %p
      =f.label :body
      =f.text_area :body, class: 'tinymce', rows: 20, cols: 120
      =tinymce
    %p
      =f.label :delay
      =f.number_field :delay
    %p
      =f.label :interval
      =f.collection_select :interval, ['seconds', 'minutes', 'days', 'weeks'], :to_s, :to_s, include_blank: false
    %p
      =f.submit 'Update Message', class: 'button primary'
    %p.text-center
      =link_to 'Back to Messages', campaign_messages_path(@campaign)

%hr
.danger-zone
  %h4 Danger Zone
  %p You can delete the campaign, which will remove all subscribers and messages assosicated with this campaign.
  %strong NOTE
  This is ireversable.
  %hr
  %label{:for => "modal-1"}
    %a.modal-trigger.button.danger Delete Message


= render 'modal'
