%h6
  Campaign:&nbsp;
  =link_to @campaign.name, campaign_path(@campaign)
%h1
  Messages
  %small.pull-right
    =link_to 'New Message', new_campaign_message_path(params[:campaign_id]), class: 'button primary'

%section
  %h4.text-center Search / Filter
  =render 'search'

%p.text-center
  %strong
    - if @messages.offset_value > 0
      =@messages.offset_value
      of
    =@messages.total_count
    Messages

%table.tables
  %thead
    %tr
      %th{style: 'width:25%;'} Subject
      %th{style: 'width:8%; text-align:center;'} Wait
      %th{style: 'width:8%; text-align:center;'} Interval
  %tbody
  - @messages.each do |message|
    %tr
      %td
        %strong=link_to message.subject, campaign_message_path(params[:campaign_id], message)
      %td{style: 'text-align: center;'}=message.wait
      %td{style: 'text-align: center;'}=message.interval

=paginate @messages
