.grid-items
  %a.grid-item{:href => account_prospects_path}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Prospects
      %p Create an manage your prospects.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Mailing Lists
      %p Create and manage your mailing lists and subscribers.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Campaigns
      %p Manage your drip email campaigns.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Email Templates
      %p Create and manage your email starter templates.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Email Messages
      %p Create and manage your automated email messages.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}
      %h1 Insights
      %p View and track campaign metrics, and progress.