%header.centered-navigation{:role => "banner"}
  .centered-navigation-wrapper
    %a.mobile-logo{:href => "javascript:void(0)"}
      =image_tag image_path("dripcampus.png")
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        %li.nav-link
          %a{:href => "javascript:void(0)"} How it Works
        %li.nav-link
          %a{:href => "javascript:void(0)"} Campaigns

        %li.nav-link.logo
          %a.logo{:href => "javascript:void(0)"}
            =image_tag image_path("dripcampus.png")
        %li.nav-link
          %a{:href => "javascript:void(0)"} Help
        %li.nav-link
          %a{:href => "javascript:void(0)"} Login
        %li.nav-link
          %a{:href => "javascript:void(0)"} Sign up
