- unless user_signed_in?  
  =link_to "Create an Account", new_user_registration_path, :class => 'button primary'
  %strong &nbsp;&nbsp;OR&nbsp;&nbsp;
  = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, :class => 'button facebook'
- else
  = link_to 'Go to your Dashboard', account_dashboard_path, :class => 'button primary'
