=@message.subject

="Hello, #{@subscriber.first_name},"

=strip_tags(@message.body.html_safe)

You can reply to this message or click the link within it, if you need more information.

Thank You,
DripCampus
