.hero
  .hero-overlay
  .hero-content
    =image_tag image_path("email_marketing.png")
    %h1 Event based email campaigns<br>made just for Schools
    %p Easily setup new email campaigns, and trigger them from your webiste or mobile app.
    %button(class="button primary") Register for FREE

%section(class="how-it-works")
  %article
    =image_tag image_path("prospect.png")
    %h2 Prospective Students
    %p Engage with your prospective students, through a targeted campaign, which provides potential students with the information they need.
  %article
    =image_tag image_path("onboarding.png")
    %h2 Student On-Boarding
    %p Automatically send out your student on-boarding information packet, welcome videos and more, using a drip campaign.
  %article
    =image_tag image_path("cursor.png")
    %h2 Events and Triggers
    %p You can define custom events, that will trigger a drip campaign, which provides endless flexability.
  %article
    =image_tag image_path("mobile.png")
    %h2 Mobile Sign-ups
    %p Engage with your prospective students, through a targeted campaign, which provides potential students with the information they need.
  %article
    =image_tag image_path("content.png")
    %h2 Course Content
    %p Automatically send out your student on-boarding information packet, welcome videos and more, using a drip campaign.
  %article
    =image_tag image_path("idea.png")
    %h2 Endless Possabilities
    %p You can define custom events, that will trigger a drip campaign, which provides endless flexability.
