// Place all the styles related to the Account::Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.campaign-overview, .campaign-subscribers, .campaign-messages, .campaign-insights {
  @include span-columns(6);
  padding-bottom: 2em;
}

.campaign-subscribers, .campaign-insights {
  @include omega();
}

.tags {
  li {
    display: inline-block;
    background-color: #E9F5F6;
    border: 1px solid darken(#E9F5F6, 15%);
    border-radius: 3px;
    padding: 0.15em 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    color: #2198a1;
  }
}

.campaign-active {
  color: #21a183;
  background-color: rgba(33, 161, 131, 0.15);
}

.campaign-inactive {
  color: #f53938;
  background-color: rgba(245, 57, 56, 0.15);
}
