.grid-items-lines
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.source
    %p Source
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.sends
    %p Sends
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.opens
    %p Opens
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.replies
    %p Replies
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.clicks
    %p Clicks
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
    %h1=@subscriber.opt_out ? 'YES' : 'NO'
    %p Opt Out  
  .right-cover
  .bottom-cover
