%h6
  Campaign:&nbsp;
  =link_to @campaign.name, campaign_path(@campaign)
%h1
  Subscribers
  %small.pull-right
    =link_to 'New Subscriber', new_campaign_subscriber_path(params[:campaign_id]), class: 'button primary'

%section
  %h4.text-center Search / Filter
  =render 'search'

%p.text-center
  %strong
    - if @subscribers.offset_value > 0
      =@subscribers.offset_value
      of
    =@subscribers.total_count
    Subscribers

%table.tables
  %thead
    %tr
      %th{style: 'width:25%;'} Email
      %th Name
      %th Source
      %th{style: 'width:8%; text-align:center;'} Sends
      %th{style: 'width:8%; text-align:center;'} Opens
      %th{style: 'width:8%; text-align:center;'} Replies
      %th{style: 'width:8%; text-align:center;'} Clicks
      %th{style: 'width:8%; text-align:center;'} Opt Out
  %tbody
  - @subscribers.each do |subscriber|
    %tr
      %td
        %strong=link_to subscriber.email, campaign_subscriber_path(params[:campaign_id], subscriber)
      %td="#{subscriber.first_name} #{subscriber.last_name}"
      %td=subscriber.source
      %td{style: 'text-align: center;'}=subscriber.sends
      %td{style: 'text-align: center;'}=subscriber.opens
      %td{style: 'text-align: center;'}=subscriber.replies
      %td{style: 'text-align: center;'}=subscriber.clicks
      %td{style: 'text-align: center;'}=subscriber.opt_out ? 'YES' : 'NO'

=paginate @subscribers
