.button {
  border-radius: 3px;
  margin: 0.5em auto;
  padding: 1em 2em;
  transition: all 200ms ease-in;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.875em;

  &.block {
    width: 100%;
    display: block;
  }
  &.primary {
    background: #f57638;
    color: #fff;
    border-color: darken(#f57638, 5%);
    border-width: 1px;
    border-style: solid;
    &:hover, &:active, &:focus {
      background: darken(#f57638, 10%);
      border-color: darken(#f57638, 15%);
    }
  }

  &.facebook {
    background: #2198a1;
    color: #fff;
    border-color: darken(#2198a1, 5%);
    border-width: 1px;
    border-style: solid;
    &:hover, &:active, &:focus {
      background: darken(#2198a1, 10%);
      border-color: darken(#2198a1, 15%);
    }
  }
}
