// These are the base styles for the static pages of the site.

.overview {
   @include outer-container;
   padding: 4em 0;
   article {
     @include span-columns(4);
     @include omega(3n);
     text-align: center;
     padding: 1em 2em;
     img {
       width: 80px;
       height: 80px;
      //  height: 120px;
       margin: 0 auto;
       display: block;
       margin-bottom: 1.5em;
     }
     p {
       color: #888;
     }
   }
}


.how-it-works {
   @include outer-container;
   padding-bottom: 3em;
   text-align: center;
   h1 {
     padding: 1em 0;
   }
   article {
     @include span-columns(4);
     @include omega(4n);

     img {
       width: 64px;

       margin: 0 auto;
       display: block;
       margin-bottom: 1.5em;
     }
     p {
       color: #888;
     }
   }
}

.signup-callout {
  text-align: center;
  padding: 2em 0 3em 0;
}
